<launch>

  <!-- resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pyo_ros)/worlds/first_level.world"/>
  </include>

  <!-- launch turtleTalkerIMU -->
  <group ns="turtleTalkerIMU">
    <node pkg="pyo_ros" name="tTIMU" type="turtleTalkerIMU.py" output="screen"/>
  </group>

</launch>
