<launch>

  <!-- if you want to launch a turtlesim and control it with Myo uncomment this group -->
  <!-- launch turtle -->
  <group ns="turtlesim1">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
  </group>

  <!-- launch turtleTalkerPOSE-->
  <group ns="turtleTalkerPOSE">
  <!-- <node pkg="rosaria" name="RosAria" type="RosAria" respawn="true" output="screen"/> -->
  <!-- <node pkg="pyo_ros" name="keyboard" type="keyboard.py" output="screen"/> -->
    <node pkg="pyo_ros" name="tTPOSE" type="turtleTalkerPOSE.py" output="screen"/>
  </group>

</launch>
